@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  margin: 25px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.profilePicture {
  height: 300px;
  width: auto;
}

.profilePicture > img {
  height: 100%;
}

.fontBlack {
  font-weight: 700;
}
